// =========================================
//  Mixins
// =========================================

// Center containers
@mixin center {
    width: 90%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

// Media queries
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');

    @if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }
    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}
