// ======================================
//  About Styles & Layout
// ======================================

.about {
    @include flexer($dir: row, $just: center, $ai: baseline);
    &-card {
        width: $card-width;
        margin: $gutter;
    }
    p {
        margin: 1em;
    }
    h2 {
        padding-top: 0.75em;
    }
}