// ======================================
//  Landing Styles & Layout
// ======================================

.landing {
    &-header {
        width: 100vw;
        h1 {
            @include center;
            padding-top: ($header-offset/6);
            width: 100vw;
        }
    }
    &-form {
        @include center(40%);
    }
    &-heading {
        margin: $gutter;
    }
    &-form {
        margin-top: $gutter;
    }
    &-card {
        width: 30vw;
        min-width: 200px;
        margin-bottom: $gutter;
        p {
            margin-top: $gutter/2;
        }
        input {
            margin-bottom: $gutter/2;
            // max-width: 120px;
        }
    }
}
