// ======================================
//  Profile Styles & Layout
// ======================================

.profile-stats {
    color: $color-primary;
    font-weight: bold;
}

.profile-table {
    @include center(85%);
    th {
        color: $color-accent;
        font-weight: bold;
    }
    .profile-total {
        color: $color-primary;
    }
    margin-bottom: 1em;
    margin-top: 0.5em;
    // @include flexer($dir: column, $as: center, $just: space-evenly)
}

canvas {
    @include center(75%);
    max-width: 20vw;
    max-height: 25vh;
}

// Layout
.profile {
    @include flexer($dir: column, $just: center, $ai: center);
    &-card, &-summary {
        margin: $gutter;
    }
    &-card {
        width: 35vw;
    }
    &-summary {
        width: 36.5vw;
        margin: 0;
    }
    h2 {
        margin: 5px;
    }
    &-btn {
        margin-top: $gutter;
        width: 10vw;
    }
    &-data {
        @include flexer($dir: row, $just: center);
        height: 32vh;
    }
    &-card, &-summary {
        @include flexer($dir: column, $just: center, $as: flex-start);
    }
    .view-stats {
        // width: 20vw;
        @include center;
        p {
            margin: 5px;
        }
    }
}
