// ======================================
//  Vocab Styles & Layout
// ======================================

// Vocab Button Styles
$choices-width: 600px;

.choice {
    width: ($choices-width/4);
    max-width: ($choices-width/4);
    height: 50px;
}

.unknown {
    width: $choices-width; // TO-DO: perform calculation off of .choice
    max-width: $choices-width;
    height: 50px;
    // background-color: $color-accent;
    background-color: $color-secondary;
    color: $color-primary;
}

// Vocab Text Styles
.vocab-answered {
    .vocab-correct {
        font-weight: bold;
        color: green;
    }
    .vocab-incorrect {
        font-weight: bold;
        color: red;
    }
}

.query-word {
    color: $color-primary;
    font-weight: bold;
}

.user-response {
    height: 25vh;
}

.vocab {
    h1 {
        margin: $gutter;
    }
    &-card {
        width: $card-width;
        height: 20vh;
    }
    &-answered {
        height: 20vh;
    }
    &-word {
        margin: $gutter;
    }
    @include flexer($dir: column, $just: center);
    &-card {
        p {
            margin: $gutter;
        }
        @include flexer($dir: column, $just: space-between);
        // &-metadata {
        //     // padding-top: $gutter;
        //     @include flexer($as: flex-start);
        //     p {
        //         margin: $gutter;
        //     }
        // }
    }
    &-choices {
        @include flexer($dir: row, $just: center);
    }
    &-answered {
        // @include flexer($dir: column, $just: space-between);
        p {
            margin: $gutter;
        }
    }
}

// .user-response {
//     @include flexer($dir: column, $just: space-between);
// }