// ======================================
//  Vocab Styles & Layout
// ======================================

// Vocab Button Styles
.choice {
    width: 150px;
    height: 50px;
}

.unknown {
    width: 600px; // TO-DO: perform calculation off of .choice
    height: 50px;
    // background-color: $color-accent;
    background-color: $color-secondary;
    color: $color-primary;
}

// Vocab Text Styles
.vocab-answered {
    .vocab-correct {
        font-weight: bold;
        color: green;
    }
    .vocab-incorrect {
        font-weight: bold;
        color: red;
    }
}

.query-word {
    color: $color-primary;
    font-weight: bold;
}